@using IISLogReader.Presentation.Web.Common;
@model ViewModelBase

@if (@Model.AlertType != null && @Model.AlertType == AlertTypeEnum.Error && @Model.AlertMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show absolute-alert" role="alert">
        @Model.AlertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (@Model.AlertType != null && @Model.AlertType == AlertTypeEnum.Warning && @Model.AlertMessage != null)
{
    <div class="alert alert-warning alert-dismissible fade show absolute-alert" role="alert">
        @Model.AlertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (@Model.AlertType != null && @Model.AlertType == AlertTypeEnum.Info && @Model.AlertMessage != null)
{
    <div class="alert alert-info alert-dismissible fade show absolute-alert" role="alert">
        @Model.AlertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}